<!DOCTYPE html>
<html lang="en">

<head>
    <title>Posturas de Yoga</title>
    <link href="css/style.css" rel="stylesheet">
    <div align="center"><img src="img/postura_rio.png"></div>
    <h1 align="center"> Yoga Pose Detector </h1>
    <h4 align="center"> ¿Sabes si tu postura es óptima? <br />
        ¡Aquí podrás averiguarlo! </h4>
</head>

<div class="jumbotron">

    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        </li>
                    </ul>
                </nav>
            </div>
            <table align="center" width="10000" border="1">
                <tr>
                    <th align="center" bgcolor="#228B22" style="color:rgb(233, 233, 233)">Pose</th>
                    <th align="center" bgcolor="#228B22" style="color: rgb(233, 233, 233)">Accuracy</th>
                </tr>

                <tr align="center">
                    <td align="center" > {{prediction}}</td>
                    <td align="center" > {{probability}}</td>
                </tr>
            </table>
    </body>

</html>