<!DOCTYPE html>
<html lang="en">

<head>
    <title>Posturas de Yoga</title>
    <link href="css/style.css" rel="stylesheet">
    <img src="img/postura.png">
</head>


<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">

                    </li>
                </ul>
            </nav>
            <h4 class="text-muted">Posturas de Yoga - Prediccion</h4>
        </div>
        <table style="width:20%">
            <tr>
                <th> bgcolor="#42BA70">{{ prediction['Posturas de Yoga - Prediccion']}}</th>
            </tr>
        </table>
        <h6>Posturas de Yoga - sabes cuál es la postura? <br />
            La posicion del yoga optima.</h6>
        <img src="./img/postura.png">
</body>

</html>